#listItem{
	width:150px;
}
.dotted{
	border: 1px dotted;
	border-radius: 10px;
	background-color: white;
}
.dashed{
	border: 1px dashed;
	border-radius: 10px;
	background-color: white;
}
.solid{
	border: 1px solid;
	border-radius: 25px;
	background-color: white;
}
